<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
    <div id="5140068b48664040bdf5e88eb2f154a2" style="width:1000px; height:600px;"></div>
    <script>
        var chart_5140068b48664040bdf5e88eb2f154a2 = echarts.init(
            document.getElementById('5140068b48664040bdf5e88eb2f154a2'), 'white', {renderer: 'canvas'});
        var option_5140068b48664040bdf5e88eb2f154a2 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "sunburst",
            "data": [
                {
                    "name": "\u4e91\u9876\u4e66\u9662",
                    "target": "blank",
                    "children": [
                        {
                            "value": 876,
                            "name": "\u5f00\u53d1",
                            "target": "blank",
                            "itemStyle": {
                                "color": "rgb(231,77,40)"
                            },
                            "children": [
                                {
                                    "value": 445,
                                    "name": "\u7537",
                                    "target": "blank",
                                    "itemStyle": {
                                        "color": "rgb(0,20,92)"
                                    }
                                },
                                {
                                    "value": 431,
                                    "name": "\u5973",
                                    "target": "blank",
                                    "itemStyle": {
                                        "color": "rgb(143,241,13)"
                                    }
                                }
                            ]
                        },
                        {
                            "value": 86,
                            "name": "\u8bbe\u8ba1",
                            "target": "blank",
                            "itemStyle": {
                                "color": "rgb(190,64,246)"
                            },
                            "children": [
                                {
                                    "value": 34,
                                    "name": "\u7537",
                                    "target": "blank",
                                    "itemStyle": {
                                        "color": "rgb(232,133,31)"
                                    }
                                },
                                {
                                    "value": 52,
                                    "name": "\u5973",
                                    "target": "blank",
                                    "itemStyle": {
                                        "color": "rgb(104,134,191)"
                                    }
                                }
                            ]
                        },
                        {
                            "value": 40,
                            "name": "\u79d8\u4e66\u5904",
                            "target": "blank",
                            "itemStyle": {
                                "color": "rgb(46,12,99)"
                            },
                            "children": [
                                {
                                    "value": 20,
                                    "name": "\u7537",
                                    "target": "blank",
                                    "itemStyle": {
                                        "color": "rgb(103,45,4)"
                                    }
                                },
                                {
                                    "value": 20,
                                    "name": "\u5973",
                                    "target": "blank",
                                    "itemStyle": {
                                        "color": "rgb(54,78,11)"
                                    }
                                }
                            ]
                        }
                    ]
                }
            ],
            "center": [
                "50%",
                "50%"
            ],
            "radius": [
                0,
                "90%"
            ],
            "highlightPolicy": "descendant",
            "nodeClick": "rootToNode",
            "sort": "desc",
            "levels": [
                {},
                {
                    "r0": "15%",
                    "r": "35%",
                    "itemStyle": {
                        "borderWidth": 2
                    },
                    "label": {
                        "rotate": "tangential"
                    }
                },
                {
                    "r0": "35%",
                    "r": "70%",
                    "label": {
                        "align": "right"
                    }
                },
                {
                    "r0": "70%",
                    "r": "72%",
                    "label": {
                        "position": "outside",
                        "padding": 3,
                        "silent": false
                    },
                    "itemStyle": {
                        "borderWidth": 3
                    }
                }
            ],
            "label": {
                "show": true,
                "position": "top",
                "margin": 8,
                "formatter": "{b}"
            },
            "rippleEffect": {
                "show": true,
                "brushType": "stroke",
                "scale": 2.5,
                "period": 4
            }
        }
    ],
    "legend": [
        {
            "data": [],
            "selected": {},
            "show": true
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0
    },
    "title": [
        {
            "text": "\u5b66\u9662\u4e13\u4e1a"
        }
    ]
};
        chart_5140068b48664040bdf5e88eb2f154a2.setOption(option_5140068b48664040bdf5e88eb2f154a2);
    </script>
</body>
</html>
